.about-us{
	position: relative;
	transform: rotate(180deg);
	background: url(../img/background2.png) repeat-x center bottom;
	background-size: auto 100%;
	z-index: 2;
	.container{
		position: relative;
		padding-top: 180px;
		padding-bottom: 160px;
		transform: rotate(-180deg);
	}
	&__text{
		padding: 0 60px;
		margin-right: 24%;
		h3{
			font: 56px $CC;
			padding-bottom: 35px;
			@media screen and (max-width: 576px){
				font-size: 32px;
			}
		}
		p{
			font-size: 20px;
			line-height: 30px;
			padding-bottom: 30px;
		}
	}
	.boots{
		position: absolute;
		top: 195px;
    	right: -156px;
	}
}

@media screen and (max-width: 880px){
.about-us{
	.container{
		padding-top: 90px;
		padding-bottom: 350px;
	}
	&__text{
		padding: 0;
		margin-right: 0;
		h3{
			text-align: center;
		}
	}
	.boots{
		right: 0;
		left: 0;
		top: auto;
		bottom: 0;
		transform: scale(0.7);
		text-align: center;
		
	}
} 
}