.header{
	background: url(../img/wood.jpg) center repeat #2f1d15;
	padding-bottom: 250px;
	.container{
		position: relative;
		padding-top: 30px;
	}
	.logo{
		position: relative;
		z-index: 9;
	}
	.rider-top{
		position: absolute;
		left: 109px;
    	top: 131px;
	}
	.bull{
		position: absolute;
		right: -169px;
    	top: 19px;
	}
	.menu{
		li{
			position: relative;
			&:after{
				position: absolute;
				content: url(../img/spot2.png);
				width: 196px;
				height: 126px;
				bottom: -24px;
				left: 7px;
				opacity: 0;
				z-index: 1;
				transition: opacity 0.5s ease;
			}
			&:hover:after{
				opacity: 1;
			}
		}
		a{
			position: relative;
			color: #fff;
			font: 35px/55px $WBB;
			padding-left: 70px;
			z-index: 2;
		}
	}
	.tickets-img{
		position: relative;
		padding-top: 75px;
		width: 100%;
		text-align: center;
		z-index: 2;
	}

	.navbar-toggle span{
		display: block;
		width: 28px;
		height: 3px;
		border-radius: 1px;
		background: #fff;
		margin: 4px auto;
	}
	.navbar-toggle{
		display: none;
		span:nth-of-type(2){
			top: 1px;
		}
		span:nth-of-type(3) {
			top: 2px;
		}
		span {
			position: relative;
			@include transition(all 200ms ease-in-out);
		}
		&.cross{ 
			span:nth-of-type(1) {
				top: 6px;
				@include transform(rotate(45deg));
			}
			span:nth-of-type(2) {
				background-color: transparent;
			}
			span:nth-of-type(3) {
				top: -8px;
				@include transform(rotate(-45deg));
			}
		}
	}
}

@media screen and (max-width: 880px){
nav{
	width: 100%;
}
.logo{
	margin: auto;
	img{
		width: 100%;
	}
}
.header{
	.menu{
		text-align: center;
		li:after{
			left: -23px;
		}
		a{
			padding: 0 35px;
		}
	}
	.rider-top{
		left: 12px;
	}
} 
}

@media screen and (max-width: 576px){
.logo{
	margin-left: 0;
	margin-right: 20%;
}
.header{
	padding-bottom: 120px;
	.navbar-toggle{
		position: absolute;
		right: 40px;
		top: 40px;
		display: block;
		z-index: 99;
	}
	.menu{
		display: none;
		position: absolute;
		width: 100%;
		right: 0;
		text-align: center;
		top: 0;
		background: #382318;
		padding-top: 27px;
		padding-bottom: 36px;
		z-index: 9;
		li{
			display: block;
			&:after{
				left: 0;
				right: 0;
				margin: auto;
			}
		}
	}
	.tickets-img{
		left: -80px;
	}
	.bull{
		transform: scale(0.6, 0.6);
		right: -234px;
    	top: -110px;
	}
	.rider-top{
		transform: scale(0.5, 0.5);
		left: -92px;
    	top: -65px;
	}
	.tickets-img{
		padding-top: 0;
		top: -113px;
		transform: scale(0.5, 0.5);
	}
}

}